.container {
    padding-top:40px;
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-columns: 1fr 10fr 1fr 10fr 1fr 10fr 1fr; 
    border-radius: 4px;
    background-color: #f2f2f2;
}

p {
    text-wrap: wrap;
}

.smallContainer {
    display: grid;
    padding: 5px;
}

.aboutLine {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    width: 80; /*accidentally looks perfect but makes no sense why lol */
    border: 2px solid rgb(80, 0, 0);
}