.navbar {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 5px;
    background-color: #3b0a04;
}

.bootonNav {
    display: inline-block;
    padding: 10px 85px;
    font-size:24px;
    background-color: #ff5650;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.booton:hover {
    background-color: #ff56508c;
}

.booton:disabled {
    background-color: #ff56508c;
}